body,pre,b { 
   font-size: 10pt; 
   line-height: 12pt;
   font-family: "Bitstream Vera Sans Mono", Menlo ,"Courier New" , Courier, monospace 
   
  }
  b { 
   font-weight: bold; 
   color:#F3092C; 
   background:#050A03; 
   position:relative; 
   
  }
  body { 
   width: 47.5em; 
   margin: 0.5em auto;
   background-color:#050A03;
   color:#43D610; 
  }
  pre { 
   position:relative; 
   
  }
  
 .c { 
  height:2520pt; 
  overflow:hidden; 
  cursor:default;  
 }
.d { 
  cursor:default; 
  padding:16px;
  position:relative;
  margin:-17px;
  
 }

.cursor{
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
