body,pre,b { 
   font-size: 10pt; 
   line-height: 12pt;
   font-family: "Bitstream Vera Sans Mono", Menlo ,"Courier New" , Courier, monospace 
   
  }
  b { 
   font-weight: bold; 
   color:#F3092C; 
   background:#050A03; 
   position:relative; 
   
  }
  body { 
   width: 47.5em; 
   margin: 0.5em auto;
   background-color:#050A03;
   color:#43D610; 
  }
  pre { 
   position:relative; 
   
  }
  a:hover { 
   background:rgba(0,0,0,0.7); 
   text-decoration:none;
   border:1px solid #F00; 
   margin:-17px; 
   padding:16px;
   position:relative; 
   z-index:1; 
   
  }
 .c { 
  height:2520pt; 
  overflow:hidden; 
  cursor:default; 
  
 }
.d { 
  cursor:default; 
  padding:16px;
  position:relative;
  margin:-17px;
  
 }
#car{
  font-weight: bold; 
  color:#F3092C; 
  background:#050A03; 
   
  
}
.cursor {
  animation: blink 1s infinite;
}
